h2 {
  color: #34495e;
  text-align: center;
  margin-bottom: 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  li h3 {
    color: #34495e;
    margin: 0 0 0.5rem;
  }

p {
  color: #777;
  text-align: center;
}

.search-results ul {
  list-style: none;
  padding: 0;
}

.search-results li {
  margin-bottom: 1.5rem;
}

.search-results h4 {
  cursor: pointer;
  color: black;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
}

.result-snippet {
  color: #555;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  line-height: 1.5;
  text-align: left;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.search-input {
  width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
}

.search-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

  .search-button:hover {
    background-color: #16a085;
  }

.home-button-container {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.home-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

  .home-button:hover {
    background-color: #333;
  }
